


<div class="container">
  <div class="register" *ngIf="showRegister">
    <h3>Neu bei DABubble?</h3>
    <button (click)="navigateToSignup()">Konto erstellen</button>
  </div>

  <div class="content-container">
    <div class="container-box">
      <div class="vector">
        <div class="background-pink"></div>
        <div class="background">
          <div class="inner-vectors">
            <div class="inner-box"></div>
            <div class="inner-box"></div>
            <div class="inner-box"></div>
          </div>
        </div>
      </div>

      <div class="vector-box">
        <div class="background-blue"></div>
        <div class="background-orange">
          <div class="inner-vectors">
            <div class="inner-box"></div>
            <div class="inner-box"></div>
            <div class="inner-box"></div>
          </div>
        </div>
      </div>
    </div>

    <h1>DABubble</h1>
  </div>
</div>


