@import "./../../styles.scss";

.footer {
  height: 50px;
  background-color: $lightblue;
  text-align: center;
  padding: 4rem 2rem;

  .impressum-datenschutz-box {
    @include dFlex(center, null, 16px);

    .impressum, .datenschutz {
      color: $middleblue;
      font-weight: 400;
      padding: 10px 15px;
      text-decoration: none;
      border: none;
      border-radius: 100px;
      cursor: pointer;
      background-color: $lightblue;
      transition: border-color 0.3s ease-in-out;
      border: 1px solid transparent;

      &:hover {
        border-color: $button-blue;
        transform: scale(1.01);
        transition: transform 0.3s ease-in-out;
        font-weight: 600;
      }
    }
  }
}

@media (max-width: 1278px) {
  .footer {
    padding: 8px;
  }
}
