<div class="entwickler-box">
  <div *ngFor="let channel of channels" class="channel-container">
    <!-- Linker Bereich: Channel-Name und Icon -->
    <div class="office-box">
      <img src="assets/img/tag-black.png" alt="Tag Icon" />
      <h1>{{ channel.name }}</h1>
      <img src="assets/img/keyboard_arrow_down-1.png" />
    </div>


    <!-- Rechter Bereich: Avatare der Mitglieder -->
    <ul class="avatar-list" *ngIf="channel.members && channel.members.length > 0">

      <li *ngFor="let member of channel.members ; let last = last">
        <!-- Avatar des Mitglieds -->
        <img [src]="member.avatarUrl" alt="{{member.name}}" class="avatar">
      </li>

      <!-- Zähler zwischen dem letzten Avatar und member.png -->
      <li *ngIf="channel.members.length > 1" class="member-counter" (click)="openMembersDialog(channel)">
        +{{ channel.members.length - 1 }}
      </li>
    </ul>
    <div class="static-member" (click)="openAddMembersDialog(channel)" >
      <img   src="assets/img/member.png" alt="Member" >
    </div>
  </div>
</div>



<div class="channel-input-box"*ngFor="let channel of channels"  >
  <div class="channel-box" >
    <div class="channel-info">
      <img src="assets/img/tag-black.png" alt="Tag Icon" />
     
      <h1>{{ channel.name  }}</h1>
      <img src="assets/img/keyboard_arrow_down-1.png" />
    </div>
    <div class="channel-info-detail">
      <h2>
        Du hast diesen Channel heute erstellt.Das ist der Anfang des Cahnnels
      </h2>
      <img src="assets/img/tag-blue.png" alt="Tag Icon" />
      
      <p>{{ channels[0].name }}</p>
    </div>
  </div>
 
  <div class="chat-input-container">
    <div class="chat-input">
      <div class="textarea-wrapper">
        <textarea
          
         placeholder="Nachricht an #{{ channel.name }}"
          [(ngModel)]="message"
          #textArea
        ></textarea>

        <div class="image-preview" *ngIf="imageUrl">
          <img
            class="image-border"
            [src]="imageUrl"
            alt="Hochgeladenes Bild"
            (click)="openImageModal()"
          />
          <div class="img-wrapper">
            <img
              (click)="closeProfileCard(textArea); $event.stopPropagation()"
              src="assets/img/close.png"
              alt="Schließen"
            />
          </div>
        </div>

        <div class="buttons-wrapper">
          <div class="input-buttons">
            <label for="image-upload" class="image-upload-button">
              <img
                class="input-image"
                src="assets/img/add-pic.png"
                alt="Bild hinzufügen"
              />

              <input
                type="file"
                id="image-upload"
                (change)="onImageSelected($event, textArea)"
                style="display: none"
              />
            </label>

            <img src="assets/img/Vector.png" />

            <button (click)="toggleEmojiPicker()"  >
              <img
                class="input-image"
                src="assets/img/emoji.png"
                alt="Emoji hinzufügen"
              />
            </button>
            
            <button (click)="addAtSymbol()" class="at-button">
              <img
                class="input-image"
                src="assets/img/qr.png"
                alt="@ hinzufügen"
              />
            </button>
          </div>

          <div class="send-button">
            <button (click)="sendMessage()">
              <img src="assets/img/send-button.png" alt="Senden" />
            </button>
          </div>
        </div>
      </div>
    </div>

    <div
    class="emoji-picker "
    *ngIf="isEmojiPickerVisible"
  >
    <ngx-emoji-mart   (emojiSelect)="addEmoji($event)"></ngx-emoji-mart>
  </div>
  </div>

  <div class="image-modal" *ngIf="isImageModalOpen" (click)="closeImageModal()">
    <img
      [src]="imageUrl"
      alt="Vergrößertes Bild"
      (click)="$event.stopPropagation()"
    />
    <button class="close-modal" (click)="closeImageModal()">×</button>
  </div>

</div>