@import "./../../styles.scss";

.entwickler-box {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  height: 96px;
  box-shadow: 0px 2px 10px 0px #00000014;
  padding: 25px 45px;
  background-color: white;
  border-radius: 30px 30px 0 0;

  .office-box {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    transition: background-color 0.3s ease, transform 0.3s ease;
    border-radius: 30px;
    height: 45px;
    width: 100%;
    max-width: 235px;

    &:hover {
      background-color: $lightblue;
      border-radius: 100px;

      img {
        filter: brightness(0) saturate(100%) invert(34%) sepia(39%) saturate(6834%) hue-rotate(230deg) brightness(100%) contrast(90%);
      }

      &:hover h1 {
        color: $hoverColor;
        font-size: 24px;
        font-weight: 700;
        transition: color 0.3s ease, font-size 0.3s ease;
      }
    }
  }

  h1 {
    font-size: 24px;
    font-weight: 700;
  }
}


.channel-input-box{
  height: calc(100vh - 20.3rem);
  display: flex;
  flex-direction: column;
  justify-content: space-between;

}
.channel-box{
  padding: 25px 45px 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;

.channel-info {
  display: flex;
  align-items: center;
  gap: 10px;
  height: 33px;
  cursor: pointer;
  width: 100%;
  max-width: 200px;

  &:hover {
    background-color: $lightblue;
    border-radius: 100px;
   
    img {
      filter: brightness(0) saturate(100%) invert(34%) sepia(39%) saturate(6834%) hue-rotate(230deg) brightness(100%) contrast(90%);
    }

    &:hover h1 {
      color: $hoverColor;
      font-size: 24px;
      font-weight: 700;
      transition: color 0.3s ease, font-size 0.3s ease;
    }
  }


  h1 {
    font-size: 24px;
    font-weight: 700;
  }
}


.channel-info-detail {
  display: flex;
  align-items: center;

  img {
    width: 20px;
    height: 20px;
  }

  h2 {
    font-size: 20px;
    font-weight: 400;
  }

  p {
    color: $hoverColor;
  }
}
}


.chat-input-container {

  


  .emoji-picker {
    position: absolute; /* Emoji-Picker soll relativ zum Container positioniert werden */
    bottom: 80px; /* Stelle sicher, dass er über dem Eingabefeld angezeigt wird */
    left: 20px; /* Positioniere ihn nach Bedarf */
    z-index: 1000; /* Stelle sicher, dass der Emoji-Picker über anderen Elementen liegt */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2); /* Leichter Schatten für bessere Sichtbarkeit */
    border-radius: 10px; /* Optionale abgerundete Ecken */
    background-color: white; /* Hintergrundfarbe für den Emoji-Picker */
  }

  
  
  .chat-input {
    display: flex;
    align-items: center;
    padding:25px 45px;
    
    .textarea-wrapper {
      position: relative;  
      width: 100%;
    }


    textarea {
      flex-grow: 1;
      padding: 20px;
      border: 1px solid #ddd;
      border-radius: 20px;
      resize: none;
      width:100%;
      min-height: 145px; 
      font-size: 18px;
      font-weight: 400;
      cursor: pointer;
      box-sizing: border-box;
      transition: all 0.3s ease;
      font-family: 'Segoe UI Emoji', sans-serif;
  
    
      &:hover {
        border-color: $button-blue;
        transition: border-color 0.3s;
      }

      &:focus,
      &:focus-within {
        outline: none;
        border-color: $button-blue;
      }

      &:not(:focus) {
        &:has(+ input:focus) {
          border-color: blue;
        }
      }
      }

      .image-preview {
        position: absolute;
        bottom: 75px; 
        left: 25px;
        
        display: flex;
        align-items: flex-end;
        cursor: pointer;
        transition: background-color 0.3s ease, filter 0.3s ease;
        gap:10px;
      
        &:hover {
          background-color: white;
          
          img {
            filter: brightness(0.8); 
          }

        }

        .image-border {
          max-width: 100px;
          max-height: 100px;
          border-radius: 1.25rem;
          object-fit: cover;
          transition: filter 0.3s ease;
          border:1px solid $button-blue;
        }

        .img-wrapper{
          &:hover{
          img {
            filter: brightness(0) saturate(100%) invert(34%) sepia(39%) saturate(6834%)
              hue-rotate(230deg) brightness(100%) contrast(90%);
          }
        }
      }
      }
      
    .input-buttons {
      position: absolute;
      bottom: 10px;  
      padding:20px;
      display: flex;
      gap: 10px;

      .input-image {
        transition: filter 0.3s ease; // Für sanfte Übergänge
      }
    
      // Wenn über eine der .input-image-Elemente gehovert wird
      &:hover .input-image {
        filter: brightness(0); // Alle Bilder werden schwarz
      }
    
      // Das Bild, über das tatsächlich gehovert wird
      .input-image:hover {
        filter: brightness(1); // Heller oder ursprüngliche Farbe
      }

      label, button {
        background-color: white;
        border: none;
        border-radius: 50%;
        width: 35px;
        height: 35px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        

        &:hover {
          background-color: $lightblue;
          
  
          img {
            filter: brightness(0) saturate(100%) invert(34%) sepia(39%) saturate(6834%) hue-rotate(230deg) brightness(100%) contrast(90%);
            }
        }
      }
    }
  
    .send-button {
      position: absolute;
      bottom: 10px;
      right: 0;  
      padding:20px;
      display: flex;
      align-items: center;
      justify-content: center;

    button {
      background-color: transparent;
      border: none;
      cursor: pointer;
      width: 40px;
      height: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: background-color 0.3s ease, filter 0.3s ease;

      &:hover {
        background-color: #ffffff;  
        
        img {
          filter: brightness(1.8); 
        }
      }

      img {
        transition: filter 0.3s ease;
      }
    }
  }
}

.img-wrapper {
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  transition: background-color 0.3s ease, transform 0.3s ease;
  position: absolute;
  top: 0;
  right: 0;
  background-color: #ddd;

  &:hover {
    background-color: $lightblue;
    transform: scale(1.1);
  }

  img {
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 50%;
    transition: filter 0.3s ease;
    cursor: pointer;
  }
}
}

.image-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8); // Dunkler, halbtransparenter Hintergrund
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000; // Über anderen Elementen anzeigen
  cursor: pointer;

  img {
    max-width: 90%;
    max-height: 90%;
    border-radius: 10px;
  }

  .close-modal {
    position: absolute;
    top: 20px;
    right: 20px;
    background: none;
    border: none;
    font-size: 40px;
    color: white;
    cursor: pointer;
  }

}






