@import "./../../styles.scss";

.new-message-container {
  display: flex;
  flex-direction: column;
  gap: 10px;

  h1 {
    font-size: 24px;
    font-weight: 700;
    color: black;
    margin: 0;
  }

  input {
    flex-grow: 1;
    padding: 15px 20px;
    border: 1px solid #ddd;
    border-radius: 30px;
    resize: none;
    width: 100%;
    min-height: 55px;
    font-size: 18px;
    font-weight: 400;
    cursor: pointer;
    box-sizing: border-box;
    transition: all 0.3s ease;
    font-family: "Segoe UI Emoji", sans-serif;

    &:hover {
      border-color: $button-blue;
      transition: border-color 0.3s;
    }

    &:focus,
    &:focus-within {
      outline: none;
      border-color: $button-blue;
    }

    &:not(:focus) {
      &:has(+ input:focus) {
        border-color: blue;
      }
    }
  }
}

.entwickler-box {
  cursor: pointer;
  height: auto;
  box-shadow: 0px 2px 10px 0px #00000014;
  padding: 32px 45px 20px;
  background-color: white;
  border-radius: 30px 30px 0 0;
}

.channel-input-box {
  height: calc(100vh - 21.9rem);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.channel-box {
  padding: 45px 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  overflow-x: hidden;
  flex-grow: 1;

  .message-list {
    overflow-x: hidden;
    flex-grow: 1;
    width: 100%;

    .message-time {
      font-size: 14px;
      font-weight: 400;
      color: $lightgray;
    }

    .sender-name {
      font-size: 18px;
      font-weight: 700;

      &:hover {
        color: $middleblue;
        cursor: pointer;
      }
    }
    .sent-message-container {
      display: flex;
      justify-content: flex-end;
      padding: 25px;
      transition: background-color 0.3s ease, transform 0.3s ease;

      img {
        width: 70px;
        height: 70px;
      }

      &:hover {
        background-color: $lightblue;

        .emoji-box {
          display: flex;
          align-items: center;
        }
      }

      .message-container {
        display: flex;
        align-items: flex-start;
        gap: 15px;
        flex-direction: row-reverse;
        margin-bottom: 15px;
        padding: 25px;
        position: relative;
        background-color: transparent;
        width: 100%;

        &:hover {
          background-color: $lightblue;

          .emoji-box {
            display: flex;
            align-items: center;
          }
        }

        .message-box {
          display: flex;
          flex-direction: column;
          justify-content: flex-end;
          align-items: flex-end;
          gap: 8px;

          .message-info {
            display: flex;
            justify-content: space-between;
            flex-direction: row-reverse;
            gap: 20px;
            align-items: center;
          }
        }
      }
    }

    .emoji-container {
      margin-right: auto;
      margin-top: -75px;
    }

    .emoji-container-received {
      margin-left: auto;
      margin-top: -55px;
    }

    .emoji-box-received {
      padding: 3px 15px 3px 20px;
      gap: 5px;
      border-radius: 25px 25px 0;
      border: 1px solid #adb0d9;
      background: #fff;
      left: 0;
      top: 0;
      z-index: 3;
      display: none;

      .image-wrapper {
        width: 40px;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: transparent;
        border-radius: 50%;

        &:hover {
          background-color: $lightblue;
          cursor: pointer;
        }

        img {
          width: 24px;
          height: 24px;
          object-fit: cover;
          border-radius: 50%;
        }
      }
    }

    .received-message-container {
      display: flex;
      justify-content: flex-start;
      margin-bottom: 15px;
      transition: background-color 0.3s ease, transform 0.3s ease;

      img {
        width: 70px;
        height: 70px;
      }

      &:hover {
        background-color: $lightblue;

        .emoji-box-received {
          display: flex;
          align-items: center;
        }

        p {
          color: white;
        }
      }

      .message-container {
        display: flex;
        align-items: flex-start;
        gap: 15px;
        margin-bottom: 15px;
        padding: 25px;
        position: relative;
        background-color: transparent;
        width: 100%;

        &:hover {
          background-color: $lightblue;

          .emoji-box {
            display: flex;
            align-items: center;
          }

          .message-content {
            background-color: white;

            p {
              color: black;
            }
          }
        }

        .message-box {
          display: flex;
          flex-direction: column;
          justify-content: flex-start;
          align-items: flex-start;
          gap: 8px;

          .message-info {
            display: flex;
            justify-content: space-between;
            flex-direction: row-reverse;
            gap: 20px;
            align-items: center;
          }
        }
      }
    }

    .emoji-box {
      padding: 3px 15px 3px 20px;
      gap: 5px;
      border-radius: 25px 25px 0;
      border: 1px solid #adb0d9;
      background: #fff;
      left: 0;
      top: 0;
      z-index: 3;
      display: none;

      .image-wrapper {
        width: 40px;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: transparent;
        border-radius: 50%;

        &:hover {
          background-color: $lightblue;
          cursor: pointer;
        }

        img {
          width: 24px;
          height: 24px;
          object-fit: cover;
          border-radius: 50%;
        }
      }
    }

    .message-header {
      display: flex;
      align-items: center;
      margin-bottom: 5px;

      .avatar {
        width: 70px;
        height: 70px;
        border-radius: 35%;
      }

      .sender-name {
        font-weight: bold;
        font-size: 16px;
        color: #333;
      }
    }

    .message-content {
      background-color: $middleblue;
      padding: 15px;
      border-radius: 0px 30px 30px 30px;
      word-wrap: break-word;

      .sent-message {
        color: white;
      }

      p {
        font-size: 18px;
        font-weight: 400;
        margin: 0;
        color: white;
      }

      &.text-message {
        color: white;
      }

      &.image-message {
        background-color: transparent;

        img {
          max-width: 200px;
          border-radius: 10px;
          object-fit: cover;
        }
      }
    }
  }
}

.chat-input-container {
  .emoji-picker {
    position: absolute;
    bottom: 270px;
    z-index: 10000;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    background-color: white;
    width: 300px;
    height: 300px;
  }

  .chat-input {
    display: flex;
    align-items: center;
    padding: 0px 45px;

    .textarea-wrapper {
      position: relative;
      width: 100%;
    }

    textarea {
      flex-grow: 1;
      padding: 20px;
      border: 1px solid #ddd;
      border-radius: 20px;
      resize: none;
      width: 100%;
      min-height: 145px;
      font-size: 18px;
      font-weight: 400;
      cursor: pointer;
      box-sizing: border-box;
      transition: all 0.3s ease;
      font-family: "Segoe UI Emoji", sans-serif;

      &:hover {
        border-color: $button-blue;
        transition: border-color 0.3s;
      }

      &:focus,
      &:focus-within {
        outline: none;
        border-color: $button-blue;
      }

      &:not(:focus) {
        &:has(+ input:focus) {
          border-color: blue;
        }
      }
    }

    .image-preview {
      position: absolute;
      bottom: 75px;
      left: 25px;

      display: flex;
      align-items: flex-end;
      cursor: pointer;
      transition: background-color 0.3s ease, filter 0.3s ease;
      gap: 10px;

      &:hover {
        background-color: white;

        img {
          filter: brightness(0.8);
        }
      }

      .image-border {
        max-width: 100px;
        max-height: 100px;
        border-radius: 1.25rem;
        object-fit: cover;
        transition: filter 0.3s ease;
        border: 1px solid $button-blue;
      }

      .img-wrapper {
        &:hover {
          img {
            filter: brightness(0) saturate(100%) invert(34%) sepia(39%)
              saturate(6834%) hue-rotate(230deg) brightness(100%) contrast(90%);
          }
        }
      }
    }

    .input-buttons {
      position: absolute;
      bottom: 10px;
      padding: 20px;
      display: flex;
      gap: 10px;

      .input-image {
        transition: filter 0.3s ease;
      }

      &:hover .input-image {
        filter: brightness(0);
      }

      .input-image:hover {
        filter: brightness(1);
      }

      label,
      button {
        background-color: white;
        border: none;
        border-radius: 50%;
        width: 35px;
        height: 35px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;

        &:hover {
          background-color: $lightblue;

          img {
            filter: brightness(0) saturate(100%) invert(34%) sepia(39%)
              saturate(6834%) hue-rotate(230deg) brightness(100%) contrast(90%);
          }
        }
      }
    }

    .send-button {
      position: absolute;
      bottom: 10px;
      right: 0;
      padding: 20px;
      display: flex;
      align-items: center;
      justify-content: center;

      button {
        background-color: transparent;
        border: none;
        cursor: pointer;
        width: 40px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: background-color 0.3s ease, filter 0.3s ease;

        &:hover {
          background-color: #ffffff;

          img {
            filter: brightness(1.8);
          }
        }

        img {
          transition: filter 0.3s ease;
        }
      }
    }
  }

  .img-wrapper {
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    transition: background-color 0.3s ease, transform 0.3s ease;
    position: absolute;
    top: 0;
    right: 0;
    background-color: #ddd;

    &:hover {
      background-color: $lightblue;
      transform: scale(1.1);
    }

    img {
      width: 40px;
      height: 40px;
      object-fit: cover;
      border-radius: 50%;
      transition: filter 0.3s ease;
      cursor: pointer;
    }
  }
}

.image-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  cursor: pointer;

  img {
    max-width: 90%;
    max-height: 90%;
    border-radius: 10px;
  }

  .close-modal {
    position: absolute;
    top: 20px;
    right: 20px;
    background: none;
    border: none;
    font-size: 40px;
    color: white;
    cursor: pointer;
  }
}

.seperator {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin: 0 auto;
  margin-bottom: 15px;
  padding: 0px 25px 0px 25px;

  &::before,
  &::after {
    content: "";
    flex: 1;
    height: 1px;
    background-color: $middleblue;
  }

  .date-separator {
    font-size: 14px;
    font-weight: 400;
    color: black;
    padding: 5px 15px;
    background-color: #fff;
    z-index: 1;
    border-radius: 30px;
    border: 1px solid $middleblue;
    white-space: nowrap;
  }

  .edit-dialog {
    position: absolute;
    top: 10px;
    left: 50px;
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    z-index: 1000;

    button {
      display: block;
      background: none;
      border: none;
      padding: 5px 10px;
      cursor: pointer;
      &:hover {
        background-color: #f0f0f0;
      }
    }
  }

  .edit-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;

    button {
      background-color: $button-blue;
      border: none;
      padding: 5px 10px;
      cursor: pointer;
      border-radius: 5px;
      color: #fff;

      &:hover {
        background-color: darken($button-blue, 10%);
      }
    }

    button:last-child {
      background-color: #e74c3c;

      &:hover {
        background-color: darken(#e74c3c, 10%);
      }
    }
  }
}

.edit-message-box {
  position: relative;
  width: 100vw;
  max-width: 698px;
  margin-top: 10px;

  .edit-textarea {
    width: 100%;
    padding: 20px;
    font-size: 18px;
    border: 1px solid $lightblue;
    border-radius: 20px;
    resize: none;
    color: $lightgray;

    box-sizing: border-box;
    transition: all 0.3s ease;
    font-family: "Segoe UI Emoji", sans-serif;

    &:hover {
      border-color: $button-blue;
      transition: border-color 0.3s;
    }

    &:focus,
    &:focus-within {
      outline: none;
      border-color: $button-blue;
    }

    &:not(:focus) {
      &:has(+ input:focus) {
        border-color: blue;
      }
    }
  }

  .edit-buttons {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    margin-top: 5px;

    .save-button,
    .cancel-button {
      padding: 5px 10px;
      cursor: pointer;
    }
  }
}

.edit-options {
  position: absolute;
  background-color: white;
  border: 1px solid #ddd;
  padding: 10px 20px;
  border-radius: 0px 30px 30px 30px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  margin-top: 5px;
  left: 260px;
  top: -30px;

  button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: black;
    font-size: 20px;
    font-weight: 500;
    transition: background-color 0.3s ease, transform 0.3s ease;
    border-radius: 30px;
    height: 45px;
    width: 268px;

    &:hover {
      background-color: $lightblue;
      border-radius: 100px;
      color: $hoverColor;
    }
  }
}

.emoji-box {
  position: relative;
}

.emoji-pickere {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 100;
  background-color: white;
  border: 1px solid #ccc;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.emoji-picker-received {
  position: absolute;
  top: 10%;
  z-index: 100;
  background-color: white;
  border: 1px solid #ccc;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  right: 25px;
}

.emoji-message-container {
  display: flex;
  gap: 10px;

  nav {
    color: black;
    font-size: 16px;
    font-weight: 400;
  }

  span {
    border: 1px solid $hoverColor;
    padding: 5px 10px;
    border-radius: 20px;
    display: flex;
    gap: 10px;
  }
}

.emoji-count {
  margin-left: 5px;
  font-size: 14px;
  color: #888;
}

.private-message-header {
  display: flex;
  align-items: center;
  gap: 15px;
  cursor: pointer;
  border-radius: 50px;
  transition: background-color 0.3s ease;
  width: fit-content;
  height: 58px;

  .avatar-container {
    position: relative;
    display: inline-block;
  }

  .status-icon {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: white;
    border: 2px solid white;
  }

  img {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 50%;
  }

  h2 {
    font-size: 18px;
    font-weight: 400;
    display: inline-flex;
    padding: 10px 15px;
    transition: background-color 0.3s ease;
    border-radius: 50px;
  }
  &:hover {
    background-color: $lightblue;
    padding-right: 30px;
    border-radius: 100px;
  }
}

.tooltip {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $button-blue;
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  z-index: 1000;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  transform: translate(-50%, -100%);
  padding: 15px 10px;
  border-radius: 30px 30px 30px 0px;
  width: 180px;
  text-align: center;
}

.emoji-icon {
  font-size: 30px;
  width: 30px;
  height: 30px;
  line-height: 30px;
}

.tooltip-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sender-name {
  font-size: 18px;
  font-weight: 700;
  margin-top: 8px;
}

.reaction-text {
  font-size: 16px;
  margin-top: 5px;
}

.specific-members input[type="text"] {
  width: 100%;
  max-width: 630px;
  height: 60px;
  border: 1px solid #ccc;
  border-radius: 30px;
  padding-left: 20px;
  padding-right: 20px;
  box-sizing: border-box;
  transition: border-color 0.3s ease;

  &:hover {
    border-color: #686868;
  }

  &:focus {
    outline: none;
    border-color: $button-blue;
  }

  &:not(:focus) {
    &:has(+ input:focus) {
      border-color: blue;
    }
  }
}

.specific-members {
  display: flex;
  align-items: center;
  gap: 15px;
}

.specific-members {
  position: relative;
}

.dropdown-list {
  list-style-type: none;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-height: 200px;
  overflow-y: auto;
  z-index: 1000;
}

.dropdown-list li {
  padding: 10px;
  display: flex;
  align-items: center;
  cursor: pointer;
  max-width: fit-content;
  border-radius: 2.1875rem;
  font-size: 18px;
  height: 35px;
  min-width: 0;
  transition: background-color 0.3s ease;
  .text-truncate {
    display: inline-block;
    max-width: 220px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    flex: 1;
    min-width: 0;
  }

  &:hover {
    background-color: $lightblue;
  }

  .avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
  }

  .status-icon {
    position: relative;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    border: 2px solid white;
    right: 20px;
  }
}

.selected-member {
  display: flex;
  align-items: center;
  background-color: $lightblue;
  padding: 5px 10px;
  border-radius: 20px;
  position: absolute;
  gap: 15px;
  left: 20px;
  cursor: pointer;

  .avatar {
    width: 25px;
    height: 25px;
    border-radius: 50%;
  }

  .remove-btn {
    background-color: transparent;
    border: none;
    color: gray;
    cursor: pointer;
    font-size: 20px;
    margin-left: 5px;

    &:hover {
      color: $hoverColor;
      scale: 1.1;
    }
  }
}

.scrollable-area {
  overflow-y: auto;
  max-height: 200px;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  gap: 10px;
  padding: 20px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  border-top-right-radius: 30px;
  border-color: $hoverColor;
  scrollbar-width: thin;
  scrollbar-color: black white;
  width: 300px;
  overflow-x: hidden;
  &::-webkit-scrollbar {
    width: 8px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: black;
    border-radius: 10px;
  }

  &::-webkit-scrollbar-track {
    background-color: white;
  }
}

.scrollable-area:hover {
  scrollbar-color: blue white;
}

.avatar-container {
  display: flex;
  align-items: center;
}

.selected-recipients {
  max-width: max-content;

  ul {
    display: flex;
    align-items: center;
    gap: 15px;
    max-width: max-content;
    cursor: pointer;
    width: 100%;
    flex-wrap: wrap;
  }
  li {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 18px;
    color: white;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    border-top-right-radius: 30px;
    border-color: $hoverColor;
    background-color: $hoverColor;
    height: 68px;
    padding: 4px 20px;

    img.avatar {
      width: 50px;
      height: 50px;
      border-radius: 50%;
      object-fit: cover;
    }

    img.avatar-tag {
      filter: brightness(0) invert(1);
      width: 50px;
      height: 50px;
      border-radius: 50%;
      object-fit: cover;
    }

    img.close-icon {
      width: 50px;
      height: 50px;
      filter: invert(1);
      cursor: pointer;
    }
  }
}
.avatar-containero img {
  width: 24px !important;
  height: 24px !important;
  object-fit: cover;
  transition: filter 0.3s ease;
  cursor: pointer;
}

.channel-container {
  display: flex;
  gap: 15px;
}

@media (max-width: 1278px) {
  .entwickler-box {
    padding: 20px 16px 20px 16px;
  }

  .new-message-container h1 {
    font-size: 20px;
  }

  .channel-input-box {
    height: calc(100vh - 15rem);
  }

  .chat-input-container .chat-input {
    padding: 0px 10px;
  }

  .selected-recipients ul {
    padding-left: 15px;
    width: unset !important;
  }

  .selected-recipients li {
    font-size: 14px !important;
  }

  .chat-input-container .emoji-picker {
    bottom: 150px;
  }
}
