
<div class="container">

<div class="login-container">
    <div class="login">
        <h1>Anmeldung</h1>
        <p>Wir empfehlen dir, die E-Mail-Adresse zu nutzen, die du bei der Arbeit verwendest.</p>
    </div>
</div>


    <div class="content-container">
    
    <div class="container-box  ">

        <div class="vector">
            <div class="background-pink"></div>
              <div class="background">
                <div class="inner-vectors">
                    <div class="inner-box"></div>
                    <div class="inner-box"></div>
                    <div class="inner-box"></div>
                </div>
            </div>
        </div>
    
        <div class="vector-box">
            <div class="background-blue"></div> 
              <div class="background-orange">
                <div class="inner-vectors">
                    <div class="inner-box"></div>
                    <div class="inner-box"></div>
                    <div class="inner-box"></div>
                </div>
            </div>
        </div>
        
    </div> 
    
    <h1>DABubble</h1>
</div>
</div>
