@import "./../../styles.scss";

.container {
    @include dFlex(center);
    width: 100%;
    height: 100vh; 
    opacity: 1;
    animation-delay: 3s;
    background: linear-gradient(1.46deg, #313AE6 1.22%, #797EF3 98.76%);
}

@keyframes fadeOut {
    to {
      opacity: 0;
    }
  }

h1{
    color:white;
    font-size: 90px;
    font-family: 'Nunito', sans-serif;
    font-weight:700;
    position: absolute;
    opacity: 0;
    transform: translateX(-100%);
    animation: moveRight 500ms ease-in-out forwards;
    animation-delay: 2000ms;
    z-index: 1;
}

.container-box{
    @include dFlex(null,null,20px);
    flex-direction: column;
    transform: translateX(0);
    animation: moveLeft 0.25s ease-in-out forwards;
    animation-delay: 1.5s;
    z-index: 2;
}

.vector {
    @include dFlex(null,flex-end,20px);
}

.vector-box{
    @include dFlex(null,null,20px);
    flex-direction: row-reverse;
}

.background {
    @include dFlex(center);
    width: 113.48px; 
    height: 83.51px; 
    background-color: #92C83E;
    border-radius: 16px 16px 16px 0; 
    text-decoration: none; 
}

.inner-vectors {
    @include dFlex(center,center,10px);
}

.inner-box {
    width: 13.52px; 
    height: 13.30px; 
    background-color: white; 
    border-radius: 50%; 
}

.background-orange{
    @include dFlex(center);
    width: 113.48px; 
    height: 83.51px;
    background-color: #FBB03B;
    border-radius: 16px 0 16px 16px; 
    text-decoration: none; 
}

.inner-box-orange {
    width: 13.52px; 
    height: 13.30px; 
    background-color: white; 
    border-radius: 50%; 
}

.background-pink{
    width: 57.1px;
    height: 56.33px;
    background-color: #ED1E79;
    display: flex;
    border-radius: 50% 50% 0 50%;
}

.background-blue{
    width: 57.1px;
    height: 56.33px;
    background-color: #3FA9F5;
    display: flex;
    border-radius: 0 50% 50% 50%;
}

@keyframes moveLeft {
    from {
        opacity: 0;
        transform: translateX(0);
    }
    to {
        opacity: 1;
        transform: translateX(-100%);
    }
}

@keyframes moveRight {
    from {
        opacity: 0;
        transform: translateX(0);
    }
    to {
        opacity: 1;
        transform: translateX(40%);
    }
}

@keyframes moveVertical {
    from {
      opacity: 0;
      transform: translateY(0); 
    }
    to {
      opacity: 1;
      transform: translateY(-30vh); 
    }
}

@media (max-width: 850px){
    .container{
        opacity: 1;
        animation-delay: 5s;
        h1{
            animation: moveVertical 1s ease-in-out forwards;
            opacity: 0;
            transform: translateX(-100%);
            animation: moveRight 500ms ease-in-out forwards;
            animation-delay: 2000ms;
            font-size: 45px;
            padding-top:100px;
        }

        .container-box{
            animation: moveVertical 1s ease-in-out forwards;
            transform: translateX(0);
            animation: moveLeft 0.25s ease-in-out forwards;
            animation-delay: 1.5s;
            padding-top:100px;
        }

        .background-pink{
            width: 27.1px;
            height: 26.33px;
        }
        
        .background-blue{
            width: 27.1px;
            height: 26.33px;
        }

        .background{
            width: 73.48px; 
            height: 53.51px;
        }

        .background-orange{
            width: 73.48px; 
            height: 53.51px;
        }

        .inner-box {
            width: 7.52px; 
            height: 7.30px;
    }
}
}