






  <div class="container">
    <div class="close-dialog">
      <img src="assets/img/tag-black.png" alt="Tag Icon" />
      <h1>{{ channelName }}</h1>
      <div class="close-pic-box" (click)="onCancel()">
        <img  src="assets/img/close.png" alt="Close" />
      </div>
    </div>
  
   
    <div class="channel-box" [ngClass]="{ 'hide-border': isEditing, 'show-border': !isEditing }">
      <div class="edit-box">
        <div class="box-container">
          <div class="header-button-box">
            <label for="channelName" [ngClass]="{ 'move-left': isEditing }">Channel-Name</label>
            <div (click)="toggleEditing()" class="profil-settings-button"
                 [ngClass]="{ 'move-right': isEditing, 'move-initial': !isEditing }">
              {{ isEditing ? 'Speichern' : 'Bearbeiten' }}
            </div>
          </div>
  
          <div class="channel-name-box">
            <span class="input-icon">#</span>
            <h1 *ngIf="!isEditing">{{ channelName }}</h1>
            <input *ngIf="isEditing"
                   id="channelName"
                   [placeholder]="channelName || 'Channel Name bearbeiten'"
                   [(ngModel)]="editedChannelName" 
                   class="visible" />
          </div>
        </div>
      </div>
    </div>
  
    <div class="channel-box" [ngClass]="{ 'hide-border': isEditing, 'show-border': !isEditing }">
    <div class="edit-box">
      <div class="box-container">
        <div class="header-button-box">
          <label for="description" [ngClass]="{ 'move-left': isEditing }">Beschreibung</label>
          <div (click)="toggleEditing()" class="profil-settings-button"
               [ngClass]="{ 'move-right': isEditing, 'move-initial': !isEditing }">
            {{ isEditing ? 'Speichern' : 'Bearbeiten' }}
          </div>
        </div>
  
        <div class="channel-name-box">
            
            <h1 *ngIf="!isEditing">{{ description }}</h1>  <!-- Originale Beschreibung wird angezeigt, wenn nicht bearbeitet wird -->
            <input *ngIf="isEditing"
                   id="channel-description"
                   [(ngModel)]="description"  
                   placeholder="Dein Text hier"
                   class="visible" />
                   
          </div>
          <div class="seperator"></div>

          <!-- Info Box -->
        </div>
      </div>
      <div class="info-box">
        <p>Erstellt von</p>
        <strong>{{ createdBy }}</strong>
      </div>
    </div>
  
    <!-- Dialog Actions -->
    <div class="mat-dialog-actions">
      <button class="primary-button" (click)="onSave()">Channel verlassen</button>
    </div>
  </div>
  