$button-blue: #444df2;
$lightblue: #eceefe;
$middleblue: #797ef3;
$hoverColor: #535af1;
$lightgray: #686868;
$button-border: #ADB0D9;






@import '@ctrl/ngx-emoji-mart/picker';

@mixin dFlex($jc: null, $ai: center, $g: 0px) {
  display: flex;
  align-items: $ai;
  gap: $g;

  @if $jc != null {
    justify-content: $jc;
  }
}

@media (max-width: 780px) {
  body {
    overflow: auto;
  }
}

html,body
 {
  margin: 0;
  
}
body {
  font-family: "Nunito",'Noto Color Emoji', 'Segoe UI Emoji', sans-serif;
  height: 100%;
  width: 100%;
}



.button-anmelden {
  background: $button-blue;
  border: none;
  border-radius: 100px;
  color: white;
  font-size: 18px;
  font-weight: 700;
  padding: 12px 25px;
  width: 137px;
  height: 49px;
  cursor: pointer;
  transition: background-color 0.3s;

  &:hover {
    background: #5b5ffc;
  }

  &:disabled {
    background-color:#686868;
    cursor: not-allowed;
  }
}

.button-gäste-login {
  background: white;
  border: 1px solid $middleblue;
  border-radius: 100px;
  color: $button-blue;
  font-size: 18px;
  font-weight: 700;
  width: 153px;
  height: 49px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;

  &:hover {
    background: $button-blue;
    color: white;
  }
}

@keyframes slideInFromRight {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.registration-ok {
  @include dFlex(center, center, 0px);
  width: 100%;
  max-width: 531px;
  height: auto;
  padding: 50px;
  border-radius: 30px 30px 0px 30px;
  background-color: $button-blue;
  line-height: 49.1px;
  text-align: center;
  box-shadow: 0px 6px 10px 0px rgba(0, 0, 0, 0.2);
  border: 2px solid $button-blue;
  margin: 20px auto;
  position: absolute;
  right: 0;
  animation: slideInFromRight 1s ease-out;
  top: 60%;
}




@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
























