@import "./../../styles.scss";

.entwickler-box {
  cursor: pointer;
  height: auto;
  box-shadow: 0px 2px 10px 0px #00000014;
  padding: 32px 45px 20px;
  background-color: white;
  border-radius: 30px 30px 0 0;
}

.channel-input-box {
  height: calc(100vh - 19.3rem);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.channel-box {
  padding: 45px 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  overflow-x: hidden;
  flex-grow: 1;

  .message-list {
    overflow-x: hidden;
    flex-grow: 1;

    .message-time {
      font-size: 14px;
      font-weight: 400;
      color: $lightgray;
    }

    .sender-name {
      font-size: 18px;
      font-weight: 700;

      &:hover {
        color: $middleblue;
        cursor: pointer;
      }
    }
    .sent-message-container {
      position: relative;
      display: flex;
      justify-content: flex-end;
      transition: background-color 0.3s ease, transform 0.3s ease;

      .sent-image,
      .avatar {
        width: 50px;
        height: 50px;
      }

      &:hover {
        background-color: $lightblue;

        .emoji-box {
          display: flex;
          align-items: center;
          position: absolute;
          top: -20px;
        }
      }

      .message-container {
        display: flex;
        align-items: flex-start;
        flex-direction: row-reverse;
        padding: 10px 45px;
        position: relative;
        background-color: transparent;
        width: 100%;

        &:hover {
          background-color: $lightblue;
          .emoji-box {
            display: flex;
            align-items: center;
          }
        }

        .message-box {
          display: flex;
          flex-direction: column;
          justify-content: flex-end;
          align-items: flex-end;
          gap: 8px;
          padding-right:30px;

          .message-info {
            display: flex;
            justify-content: space-between;
            flex-direction: row-reverse;
            gap: 20px;
            align-items: center;
          }
        }
      }
    }

    .emoji-container {
      margin-right: auto;
      margin-top: -55px;
    }

    .emoji-container-received {
      margin-left: auto;
      margin-top: -55px;
    }

    .emoji-box-received {
      padding: 3px 15px 3px 20px;
      gap: 5px;
      border-radius: 25px 25px 0;
      border: 1px solid #adb0d9;
      background: #fff;
      top: 0;
      z-index: 3;
      display: none;

      .image-wrapper {
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: transparent;
        border-radius: 50%;

        &:hover {
          background-color: $lightblue;
          cursor: pointer;

          img {
            filter: brightness(0) saturate(100%) invert(34%) sepia(39%)
              saturate(6834%) hue-rotate(230deg) brightness(100%) contrast(90%);
          }
        }

        img {
          width: 40px;
          height: 40px;
          object-fit: cover;
          border-radius: 50%;
        }
      }
    }

    .received-message-container {
      position: relative;
      display: flex;
      justify-content: flex-start;
      transition: background-color 0.3s ease, transform 0.3s ease;

      .received-image,
      .avatar {
        width: 50px;
        height: 50px;
      }

      &:hover {
        background-color: $lightblue;

        .emoji-box-received {
          display: flex;
          align-items: center;
          position: absolute;
          top: -20px;
          right: 0;
        }

        p {
          color: white;
        }
      }

      .message-container {
        display: flex;
        align-items: flex-start;
        padding: 10px 45px;
        position: relative;
        background-color: transparent;
        width: 100%;

        .message-content {
          background-color: $middleblue;
          padding: 15px;
          border-radius: 0px 30px 30px 30px;
          word-break: break-all;
        }

        &:hover {
          background-color: $lightblue;

          .emoji-box {
            display: flex;
            align-items: center;
          }

          .message-content {
            background-color: white;

            p {
              color: black;
            }
          }
        }

        .message-box {
          display: flex;
          flex-direction: column;
          justify-content: flex-start;
          align-items: flex-start;
          gap: 8px;
          padding-left:30px;

          .message-info {
            display: flex;
            justify-content: space-between;
            gap: 20px;
            align-items: center;
          }
        }
      }
    }

    .emoji-box {
      padding: 3px 13px 3px 13px;
      gap: 5px;
      border-radius: 25px 25px 0;
      border: 1px solid #adb0d9;
      background: #fff;
      left: 0;
      top: 0;
      z-index: 3;
      display: none;

      .image-wrapper {
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: transparent;
        border-radius: 50%;

        &:hover {
          background-color: $lightblue;
          cursor: pointer;

          img {
            filter: brightness(0) saturate(100%) invert(34%) sepia(39%)
              saturate(6834%) hue-rotate(230deg) brightness(100%) contrast(90%);
          }
        }

        img {
          width: 40px;
          object-fit: cover;
          border-radius: 50%;
        }
      }
    }

    .message-header {
      display: flex;
      align-items: center;
      margin-bottom: 5px;

      .avatar {
        width: 70px;
        height: 70px;
        border-radius: 35%;
      }

      .sender-name {
        font-weight: bold;
        font-size: 16px;
        color: #333;
      }
    }

    .message-content {
      background-color: $middleblue;
      padding: 15px;
      border-radius: 30px 0px 30px 30px;
      word-break: break-all;

      .sent-message {
        color: white;
      }

      p {
        font-size: 18px;
        font-weight: 400;
        margin: 0;
        color: white;
      }

      &.text-message {
        color: white;
      }

      &.image-message {
        background-color: transparent;

        img {
          max-width: 200px;
          border-radius: 10px;
          object-fit: cover;
        }
      }
    }
  }
}

.chat-input-container {
  .emoji-picker {
    position: absolute;
    bottom: 270px;
    z-index: 10000;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    background-color: white;
    width: 300px;
    height: 300px;
  }

  .chat-input {
    display: flex;
    align-items: center;
    padding: 0px 20px;

    .textarea-wrapper {
      position: relative;
      width: 100%;
    }

    textarea {
      flex-grow: 1;
      padding: 20px;
      border: 1px solid #ddd;
      border-radius: 20px;
      resize: none;
      width: 100%;
      min-height: 145px;
      font-size: 18px;
      font-weight: 400;
      cursor: pointer;
      box-sizing: border-box;
      transition: all 0.3s ease;
      font-family: "Segoe UI Emoji", sans-serif;

      &:hover {
        border-color: $button-blue;
        transition: border-color 0.3s;
      }

      &:focus,
      &:focus-within {
        outline: none;
        border-color: $button-blue;
      }

      &:not(:focus) {
        &:has(+ input:focus) {
          border-color: blue;
        }
      }
    }

    .image-preview {
      position: absolute;
      bottom: 75px;
      left: 25px;
      display: flex;
      align-items: flex-end;
      cursor: pointer;
      transition: background-color 0.3s ease, filter 0.3s ease;
      gap: 10px;

      &:hover {
        background-color: white;

        img {
          filter: brightness(0.8);
        }
      }

      .image-border {
        max-width: 100px;
        max-height: 100px;
        border-radius: 1.25rem;
        object-fit: cover;
        transition: filter 0.3s ease;
        border: 1px solid $button-blue;
      }

      .img-wrapper {
        &:hover {
          img {
            filter: brightness(0) saturate(100%) invert(34%) sepia(39%)
              saturate(6834%) hue-rotate(230deg) brightness(100%) contrast(90%);
          }
        }
      }
    }

    .input-buttons {
      position: absolute;
      bottom: 10px;
      padding: 20px;
      display: flex;
      gap: 10px;

      .input-image {
        transition: filter 0.3s ease;
      }

      &:hover .input-image {
        filter: brightness(0);
      }

      .input-image:hover {
        filter: brightness(1);
      }

      label,
      button {
        background-color: white;
        border: none;
        border-radius: 50%;
        width: 35px;
        height: 35px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;

        &:hover {
          background-color: $lightblue;

          img {
            filter: brightness(0) saturate(100%) invert(34%) sepia(39%)
              saturate(6834%) hue-rotate(230deg) brightness(100%) contrast(90%);
          }
        }
      }
    }

    .send-button {
      position: absolute;
      bottom: 10px;
      right: 0;
      padding: 20px;
      display: flex;
      align-items: center;
      justify-content: center;

      button {
        background-color: transparent;
        border: none;
        cursor: pointer;
        width: 40px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: background-color 0.3s ease, filter 0.3s ease;

        &:hover {
          background-color: #ffffff;

          img {
            filter: brightness(1.8);
          }
        }

        img {
          transition: filter 0.3s ease;
        }
      }
    }
  }

  .img-wrapper {
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    transition: background-color 0.3s ease, transform 0.3s ease;
    position: absolute;
    top: 0;
    right: 0;
    background-color: #ddd;

    &:hover {
      background-color: $lightblue;
      transform: scale(1.1);
    }

    img {
      width: 40px;
      height: 40px;
      object-fit: cover;
      border-radius: 50%;
      transition: filter 0.3s ease;
      cursor: pointer;
    }
  }
}

.image-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  cursor: pointer;

  img {
    max-width: 90%;
    max-height: 90%;
    border-radius: 10px;
  }

  .close-modal {
    position: absolute;
    top: 20px;
    right: 20px;
    background: none;
    border: none;
    font-size: 40px;
    color: white;
    cursor: pointer;
  }
}

.seperator {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin: 20px auto;
  padding: 0px 25px 0px 25px;

  &::before,
  &::after {
    content: "";
    flex: 1;
    height: 1px;
    background-color: $button-border;
  }

  .date-separator {
    font-size: 14px;
    font-weight: 400;
    color: black;
    padding: 5px 15px;
    background-color: #fff;
    z-index: 1;
    border-radius: 30px;
    border: 1px solid $button-border;
    white-space: nowrap;
  }

  .edit-dialog {
    position: absolute;
    top: 10px;
    left: 50px;
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    z-index: 1000;

    button {
      display: block;
      background: none;
      border: none;
      padding: 5px 10px;
      cursor: pointer;
      &:hover {
        background-color: #f0f0f0;
      }
    }
  }

  .edit-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;

    button {
      background-color: $button-blue;
      border: none;
      padding: 5px 10px;
      cursor: pointer;
      border-radius: 5px;
      color: #fff;

      &:hover {
        background-color: darken($button-blue, 10%);
      }
    }

    button:last-child {
      background-color: #e74c3c;

      &:hover {
        background-color: darken(#e74c3c, 10%);
      }
    }
  }
}

.edit-message-box {
  position: relative;
  width: 100%;
  max-width: 698px;
  margin-top: 10px;

  .edit-textarea {
    width: 100%;
    padding: 20px;
    font-size: 18px;
    border: 1px solid $lightblue;
    border-radius: 20px;
    resize: none;
    color: $lightgray;
    box-sizing: border-box;
    transition: all 0.3s ease;
    font-family: "Segoe UI Emoji", sans-serif;

    &:hover {
      border-color: $button-blue;
      transition: border-color 0.3s;
    }

    &:focus,
    &:focus-within {
      outline: none;
      border-color: $button-blue;
    }

    &:not(:focus) {
      &:has(+ input:focus) {
        border-color: blue;
      }
    }
  }

  .edit-buttons {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    margin-top: 5px;

    .save-button,
    .cancel-button {
      padding: 5px 10px;
      cursor: pointer;
    }
  }
}

.edit-options {
  position: absolute;
  background-color: white;
  border: 1px solid #ddd;
  padding: 10px 20px;
  border-radius: 0px 30px 30px 30px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  margin-top: 5px;
  left: 10px;
  top: 50px;

  button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: black;
    font-size: 20px;
    font-weight: 500;
    transition: background-color 0.3s ease, transform 0.3s ease;
    border-radius: 30px;
    height: 45px;
    width: 268px;

    &:hover {
      background-color: $lightblue;
      border-radius: 100px;
      color: $hoverColor;
    }
  }
}

.new-message-container {
  h1 {
    font-size: 24px;
    font-weight: 700;
    color: black;
  }

  input {
    flex-grow: 1;
    padding: 15px 20px;
    border: 1px solid #ddd;
    border-radius: 30px;
    resize: none;
    width: 100%;
    min-height: 55px;
    font-size: 18px;
    font-weight: 400;
    cursor: pointer;
    box-sizing: border-box;
    transition: all 0.3s ease;
    font-family: "Segoe UI Emoji", sans-serif;

    &:hover {
      border-color: $button-blue;
      transition: border-color 0.3s;
    }

    &:focus,
    &:focus-within {
      outline: none;
      border-color: $button-blue;
    }

    &:not(:focus) {
      &:has(+ input:focus) {
        border-color: blue;
      }
    }
  }
}

.emoji-box {
  position: relative;
}

.emoji-pickere {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 100;
  background-color: white;
  border: 1px solid #ccc;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.emoji-picker-received {
  position: absolute;
  top: 10%;
  z-index: 100;
  background-color: white;
  border: 1px solid #ccc;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  right: 25px;
}

.private-message-header {
  display: flex;
  align-items: center;
  gap: 5px;
  cursor: pointer;
  border-radius: 50px;
  transition: background-color 0.3s ease;
  height: 58px;

  h3 {
    font-size: 24px;
    font-weight: 700;
    display: inline-flex;
    transition: background-color 0.3s ease;
    border-radius: 50px;
  }

  h1 {
    font-size: 14px;
    font-weight: 400;
    color: $middleblue;
  }
}

.edit-square {
  width: 40px;
  height: 40px;
  margin-left: auto;
  cursor: pointer;
  border-radius: 50%;
  transition: background-color 0.3s ease, transform 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;

  &:hover {
    background-color: $lightblue;

    img {
      filter: brightness(0) saturate(100%) invert(34%) sepia(39%)
        saturate(6834%) hue-rotate(230deg) brightness(100%) contrast(90%);
    }
  }

  img {
    width: 40px;
    height: 40px;
    object-fit: cover;
    transition: filter 0.3s ease;
    cursor: pointer;
  }
}

.tooltip {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $button-blue;
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  z-index: 1000;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  transform: translate(0%, -100%);
  padding: 15px 10px;
  border-radius: 30px 30px 30px 0px;
  width: 158px;
  text-align: center;
}

.emoji-icon {
  font-size: 30px;
  width: 30px;
  height: 30px;
  line-height: 30px;
}

.tooltip-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sender-name {
  font-size: 18px;
  font-weight: 700;
  margin-top: 8px;
}

.reaction-text {
  font-size: 16px;
  margin-top: 5px;
}

.reply-count {
  color: $button-border;
  font-family: 400;
  cursor: pointer;
  font-size: 18px;
  font-weight: bold;
  align-self: flex-start;
  padding: 5px 10px;
  border-radius: 4px;
  transition: background-color 0.2s ease-in-out;

  &:hover {
    background-color: #f0f0f0;
  }
}

.user-load {
  display: flex;
  align-items: center;
  justify-content: center;

  p {
    margin: 0;
    font-size: 30px;
    color: $hoverColor;
  }
}

.reply-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px 0;
  gap: 20px;
}

.line {
  flex-grow: 1;
  height: 1px;
  background-color: $button-border;
  border-radius: 5px;
}

.message-item.highlight {
  background-color: yellow;
  transition: background-color 1s ease-in-out;
}

.emoji-item {
  border: 1px solid $hoverColor;
  padding: 5px 10px;
  border-radius: 20px;
  display: flex;
  gap: 10px;
  align-items: center;
  background-color: white;
  cursor: pointer;

  .emoji-count {
    margin-left: 4px;
    font-size: 0.85em;
    color: #666;
  }
}

nav {
  color: black;
  font-size: 16px;
  font-weight: 400;
}

.emoji-message-container {
  position: relative;
  display: flex;
  align-items: center;
  gap: 10px;

  img {
    object-fit: cover;
    border-radius: 50%;
  }

  &:hover {
    background-color: $lightblue;
    cursor: pointer;

    img {
      filter: brightness(0) saturate(100%) invert(34%) sepia(39%)
        saturate(6834%) hue-rotate(230deg) brightness(100%) contrast(90%);
    }
  }

  .emoji-plus-icon {
    width: 40px;
    height: 40px;
    cursor: pointer;
  }
}

.emoji-popup {
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
  max-width: 368px;
  padding: 12px;
  gap: 6px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
  border: 1px solid #ddd;
  background: #fff;
  height: auto;
  max-height: 290px;
  overflow: auto;

  .emoji-list {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    flex: 1;

    .emoji-plus-icon-in-list {
      width: 40px;
      height: 40px;
      cursor: pointer;
    }
  }
  .toggle-box {
    display: inline-flex;
    align-items: center;
    gap: 8px;

    img {
      display: none;
    }

    .toggle-more,
    .toggle-less {
      padding: 2px 6px;
      border-radius: 10px;
      border: 1px solid #999;
      cursor: pointer;
    }

    .emoji-plus-icon-in-list {
      width: 40px;
      height: 40px;
      cursor: pointer;
    }
  }
}

@media (max-width: 1278px) {
  .channel-input-box {
    height: calc(100vh - 11.5rem) !important;
  }

  .channel-box .message-list .emoji-box-received {
    padding: 3px 15px 3px 20px !important;
    position: absolute;
    transform: none;
    top: -20px;
  }

  .chat-input-container .emoji-picker {
    bottom: 150px;
  }

  .entwickler-box {
    padding: 10px 16px;
    border-radius: unset !important;
  }

  .tooltip{
    width:unset;
  }








 
  .channel-input-box
  .channel-box 
  .message-list
  .received-message-container
  .emoji-box-received{
    padding:unset;
  }

  .channel-input-box 
  .channel-box
  .message-list 
  .message-container
  .emoji-box{
    padding:unset;
  }
  .channel-input-box
  .channel-box
  .message-list
  .received-message-container 
  .message-container
  .message-box{
    padding-left:16px;
  }

  .channel-input-box 
  .channel-box
  .message-list 
  .received-message-container 
  .message-container{
    padding:10px 16px;
  }

  .channel-input-box
  .channel-box
  .message-list
  .sent-message-container
  .message-container 
  .message-box{
    padding-right:16px;
  }

  .channel-input-box
  .channel-box
  .message-list
  .sent-message-container
  .message-container{
    padding:10px 16px;
  }

}
